In [3]:
a=2

# change the value of a
I am going to change my variable!

In [11]:
a=3

In [10]:
print(a)

3

In [13]:
print("welcom\nhello")

welcom
hello

In [14]:
A=9

In [15]:
a+A

12

In [16]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
33

In [17]:
print(id(a))

1656515712

In [18]:
type(a)

int

In [19]:
y='yellow'

In [20]:
type(y)

str

In [21]:
a,b,s=2,2,3

In [22]:
a,b,s

(2, 2, 3)

In [23]:
print(a+b)

4

In [24]:
print(a-b)

0

In [25]:
print(a*b)

4

In [27]:
print(a/b)

1.0

In [28]:
print(a//b)

1

In [29]:
print(a%b)

0

In [31]:
print(a**b)

4

In [32]:
#follow bodmas

In [38]:
a=9
a+=1
print(a)
a-=1
print(a)

10
9

In [41]:
import math
a=math.log(2)
print(a)

0.6931471805599453

#logical

In [48]:
print(2<3)
print(True or False)
print(a!=b)
print(True and not False)

True
True
True
True

In [45]:
print(True and False)

False

In [57]:
a=4
if(a<3):
    print("a is less")
elif(a==4):
    print("a is equal to 4")
else:
    difference=a-3
    print("a is more by "+str(difference))

a is equal to 4

kjeg

In [8]:
n1=2
n2=3
n3=4

In [16]:
if(n1<n2 and n1<n3):
    smallest=n1
    print("n1 is smallest that is {}".format(smallest))
elif(n2<n1 and n2<n3):
    
        print("n2 is smallest")
else:
        print("n3 is smallest")

n1 is smallest that is 2

In [17]:
subjects=['math','hindi','english']

In [18]:
print(len(subjects[0]))

4

In [22]:
for i in range(3):
    print(len(subjects[i]))

4
5
7

In [24]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [27]:
while(i!=4):
    print(len(subjects[i]))
    i+=1

IndexError: list index out of range

In [40]:
str1=''
for i in range(0,9):
    if(i<5):
        str1 +="* "
        print(str1)
    elif i>4:
        str1=str1[:-2]
        #str1 -="*"
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
my_str="hello world"
for n,alphabet in enumerate(my_str):
    print(alphabet,n)

h 0
e 1
l 2
l 3
o 4
  5
w 6
o 7
r 8
l 9
d 10

In [42]:
num=int(input("enter the number"))

enter the number11

In [ ]:
num=int(input("enter the number"))
isDivisible=False
i=2;
while i < num:
    if num%i==0:
        isDivisible=True
        print('{} is divisible by {}'.format(num,i))
        i+=1;
    else:
        isDivisible=False
        
if(isDivisible==True):
    print("number is prime")
else:
    print("number is not prime")

# creating function

In [44]:
#documentation
def triple(num):
    """returns the triple of number
    """
    return 3 * num

In [45]:
a=triple(9)
a

27

In [24]:
def fact(num):
    if num>=2:
        return num*fact(num-1)
    else:
        return num;

In [26]:
q=fact(5)
print(q)

120

In [27]:
#dont know how many args to pass

In [28]:
def substitution(*args):
    print(args)
    return sum(args)

In [29]:
substitution(1,2,3,4)

(1, 2, 3, 4)

10

In [30]:
captain="anu surya"
string_to_list=lambda x: x.split()
print(string_to_list(captain))

['anu', 'surya']

In [31]:
type(string_to_list)

function

In [32]:
print(type(string_to_list))

<class 'function'>

In [33]:
multiply= lambda x,y:x*y
print(multiply(2,3))

6

In [47]:
print(triple._doc_)

AttributeError: 'function' object has no attribute '_doc_'

In [50]:
#documentation
def triple(num):
    """function to triple of number
    """
    return 3 * num

In [52]:
print(triple.__doc__)

function to triple of number

# string values and operators

In [53]:
x="anu"
y="SURYA"
x,y

('anu', 'SURYA')

In [54]:
x.upper()

'ANU'

In [56]:
u="surya  "
#space hta deta hai
u.rstrip()

'surya'

In [63]:
increment='%4%'
print(increment.rstrip("%"))

%4

In [62]:
increment='%4%'
print(increment.lstrip("%"))

4%

In [64]:
increment='%4%'
print(increment.lstrip("%").rstrip("%"))

4

In [65]:
val="4 apples"
n0_apple=val[0]
print("number of apples",n0_apple)

number of apples 4

In [66]:
what=val[2:]

In [67]:
print(what)

apples

In [68]:
#slicing by specifying start and end index

In [69]:
print(val[2:5])

app

In [70]:
what.replace("a","happy")

'happypples'

In [76]:
var="2 oranges and 3 bananas"
fruits=var[:9]
print(fruits)
banana=var[14:-2]
print(banana)

2 oranges
3 banan

In [77]:
a="anu"
a.capitalize()

'Anu'

In [78]:
age=20

In [79]:
print("i am {} year old".format(age))

i am 20 year old

In [81]:
print("i am "+str(age)+" years old")

i am 20 years old

In [84]:
nums='123456789'
even_nums=nums[1::2]
print(even_nums)

2468

In [85]:
nums='123456789'
odd_nums=nums[0::2]
print(odd_nums)

13579

In [87]:
a="numpy"
b="panda"
c="scikit"
print("{0},{1},{2}".format(a,b,c))

numpy,panda,scikit

In [88]:
name="anu"
full_name="anusurya"
name in full_name

True

In [90]:
name+= " "+str(age)

In [91]:
name

'anu 20'

# list

In [93]:
a=[]
print()

In [111]:
#list can keep multiple variable
language=["anu","aarya",42,34,"mogli"]
print(language)

['anu', 'aarya', 42, 34, 'mogli']

In [112]:
type(language)

list

In [113]:
print(language[0])

anu

In [114]:
print(language[1:4])

['aarya', 42, 34]

In [117]:
print(language[-2])#back traversing

34

In [118]:
print(language[1:])

['aarya', 42, 34, 'mogli']

In [119]:
print(language[:-2])

['anu', 'aarya', 42]

In [120]:
language.append('love')

In [121]:
print(language[1:])

['aarya', 42, 34, 'mogli', 'love']

In [122]:
language.pop()

'love'

In [123]:
language

['anu', 'aarya', 42, 34, 'mogli']

In [125]:
language.pop(2)

42

In [126]:
language.remove("anu")

In [127]:
language

['aarya', 34, 'mogli']

In [128]:
"""if a=b and then you change a it wont impact b 
but in list it does, 
becoz in list both a and b points tosame memory location, 
but if you dont want so you can use copy operation"""
new_list=language
language.append("java")

In [129]:
print(new_list)

['aarya', 34, 'mogli', 'java']

In [130]:
print(id(language))

2277487885512

In [131]:
print(id(new_list))

2277487885512

In [132]:
#iska kya mtlab hainew_list=

In [135]:
new_list=language[:]

In [136]:
print(id(new_list))

2277488066696

In [137]:
"""copy wale kaam"""
another_list=language.copy()

In [138]:
print(id(another_list))

2277487969992

In [139]:
mail="hii anu, good job, i love you, keep going!!"
mail.split()

['hii', 'anu,', 'good', 'job,', 'i', 'love', 'you,', 'keep', 'going!!']

In [140]:
comma_in_mail=mail.split(",")

In [141]:
comma_in_mail

['hii anu', ' good job', ' i love you', ' keep going!!']

In [144]:
new_mail=" hiii my love ".join(comma_in_mail)
print(new_mail)

hii anu hiii my love  good job hiii my love  i love you hiii my love  keep going!!

In [150]:
list=["2"]
a=list*6
print(a)
b=list+list
print(b)
print(len(a))

['2', '2', '2', '2', '2', '2']
['2', '2']
6

In [151]:
num=[1,2,3,4,5,6]

In [153]:
print(num[1::2])

[2, 4, 6]

In [154]:
num[0]=10
num

[10, 2, 3, 4, 5, 6]

In [157]:
print(sorted(num))

[2, 3, 4, 5, 6, 10]

In [158]:
print(max(num))

10

In [159]:
print(min(num))

2

In [160]:
n=[[1,2,3,4],[2,3,4,5],[3,4,5,6]]

In [161]:
n[2]

[3, 4, 5, 6]

In [162]:
print(n[1][0])

2

## tuples

In [163]:
#similar to list except in the way they allow themselves to be modified

In [166]:
#tuple don't allow modification
#ifferent bracket
first=(30,"anu",5.8)
print(first)
type(first)

(30, 'anu', 5.8)

tuple

In [168]:
city=("delhi",9,0.123)
print(city)

('delhi', 9, 0.123)

In [169]:
new=city

In [170]:
print(new)

('delhi', 9, 0.123)

In [171]:
type(new)

tuple

In [173]:
#new[1]=("hii")#won;t run,no modification

In [177]:
big_city="delhi",9,0.123 #can form without bracket

In [178]:
type(big_city)

tuple

In [179]:
b=city[:-1]
print(b)

('delhi', 9)

In [180]:
new2 =123,34,new

In [181]:
print(new2)

(123, 34, ('delhi', 9, 0.123))

In [185]:
new2[1]

34

In [186]:
new2[3]

IndexError: tuple index out of range

In [187]:
#list inside tuple
var1=([1,2,3],[1,5,6])

In [188]:
var1[0]=3#throw you error,can't modify tuple

TypeError: 'tuple' object does not support item assignment

In [189]:
var1[0][2]=9#now,you are updating list,so,allowed!

In [192]:
var1

([1, 2, 9], [1, 5, 6])

In [197]:
ls=list('var1')
print(ls)
type(ls)

TypeError: 'list' object is not callable

In [199]:
tu=[1,2,3]
tu=tuple(tu)
print(tu)
type(tu)

(1, 2, 3)

tuple

## sets

In [202]:
#return unique elements
stu_grad=['A','A','B','C','C','F']
stu_grad=set(stu_grad)
print(stu_grad)

{'A', 'F', 'B', 'C'}

In [203]:
type(stu_grad)

set

In [208]:
stu_grad2=['A','A','N','C','G','F','N']
stu_grad2=set(stu_grad2)
print(stu_grad2)
print(stu_grad)

{'N', 'A', 'F', 'G', 'C'}
{'A', 'F', 'B', 'C'}

In [205]:
print(stu_grad.intersection(stu_grad2))

{'A', 'F', 'C'}

In [206]:
print(stu_grad.union(stu_grad2))

{'N', 'A', 'B', 'F', 'G', 'C'}

In [210]:
print(stu_grad.difference(stu_grad2))
#left out value in stu_grad

{'B'}

In [211]:
print(stu_grad2.difference(stu_grad))

{'G', 'N'}

In [213]:
'A' in stu_grad

True

In [214]:
'E' in stu_grad

False

In [216]:
stu_grad.add('W')
print(stu_grad)

{'W', 'A', 'B', 'F', 'C'}

In [218]:
stu_grad.remove('W')
print(stu_grad)

{'A', 'B', 'F', 'C'}

In [219]:
for grades in stu_grad:
    print(grades)

A
B
F
C

In [220]:
for grades in stu_grad2:
    print(grades)

N
A
F
G
C

In [221]:
stu_grad.issubset(stu_grad2)

False

In [222]:
stu_grad.symmetric_difference(stu_grad2)

{'B', 'G', 'N'}

# dictionary

In [223]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [227]:
d={"profession":"engineer","animal":"cat","actor":"amir","list":[2,3,4]}

In [231]:
profession=d['profession']
print(profession)
print(type(profession))
type(d)

engineer
<class 'str'>

dict

In [232]:
age=d.get("list")

In [233]:
age

[2, 3, 4]

In [234]:
prof=d.get("file")

In [236]:
print(prof)

None

In [238]:
print('file' in d)

False

In [239]:
print("animal" in d)

True

In [241]:
d["file"]="python"
print(d)

{'profession': 'engineer', 'animal': 'cat', 'actor': 'amir', 'list': [2, 3, 4], 'file': 'python'}

In [242]:
print(list(d.keys()))

TypeError: 'list' object is not callable

In [244]:
new=dict(country="india",songs=["jj","kk"])
d.update(new)

In [245]:
print(d)

{'profession': 'engineer', 'animal': 'cat', 'actor': 'amir', 'list': [2, 3, 4], 'file': 'python', 'country': 'india', 'songs': ['jj', 'kk']}

In [249]:
new2={"country2":"india2","songs2":["jjj","kkk"]}
d.update(new2)

In [251]:
print(d)

{'profession': 'engineer', 'animal': 'cat', 'actor': 'amir', 'list': [2, 3, 4], 'file': 'python', 'country': 'india', 'songs': ['jj', 'kk'], 'country2': 'india2', 'songs2': ['jjj', 'kkk']}

In [252]:
del d['songs']

In [253]:
print(d)

{'profession': 'engineer', 'animal': 'cat', 'actor': 'amir', 'list': [2, 3, 4], 'file': 'python', 'country': 'india', 'country2': 'india2', 'songs2': ['jjj', 'kkk']}

In [254]:
print(len(d))

8

In [255]:
print(list(d.values()))

TypeError: 'list' object is not callable

In [256]:
d[2]=["hii","bye"]

In [257]:
print(d)

{'profession': 'engineer', 'animal': 'cat', 'actor': 'amir', 'list': [2, 3, 4], 'file': 'python', 'country': 'india', 'country2': 'india2', 'songs2': ['jjj', 'kkk'], 2: ['hii', 'bye']}

In [259]:
for a,b in d.items():
    print(a,":",b)

profession : engineer
animal : cat
actor : amir
list : [2, 3, 4]
file : python
country : india
country2 : india2
songs2 : ['jjj', 'kkk']
2 : ['hii', 'bye']

## comprehensions

In [260]:
"""syntactic constructs that enable sequences to the bit 
from another sequence in clear
and consice manner"""
#loops can be written in more clean,simple ways using comprehensions
#it can give you optimization also
#for loop run sequentially
#comprehensions parallel

'syntactic constructs that enable sequences to the bit \nfrom another sequence in clear\nand consice manner'

In [261]:
square_list=[]
for x in range(1,10):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [263]:
square_list=[x**2 for x in range (1,10)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [264]:
#comprehension krna hai plus list() function is not working